.header {
  position: relative;
  height: 100vh;
  width: 100%;
  /* Adjust the height of the header as needed */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  overflow: hidden;
  /* Hide any overflow from the video */
}

.background-video {
  min-width: 100vw;
  min-height: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.content h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.content p {
  margin-bottom: 1rem;
}

.content button {
  display: block;
  /* Display the button as a block-level element */
  margin: 1rem auto 0;
  /* Add margin to separate the button from the paragraph and center it horizontally */
  padding: 1rem 2rem;
  font-size: 1rem;
  cursor: pointer;
}

video {
  width: 100%;
}
