.weatherCards {
  max-width: 2400px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px; /* Adjust the gap as needed */
  justify-content: center; /* This will center the cards in the container */
  align-items: flex-start; /* Aligns items to the start of the flex line */
  padding: 20px; /* Add padding to the container */
}
